* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 648px;
    min-width: 648px;
    padding: 8px;
    gap: 8px;
    background-color: black;
    border-radius: 16px;
}

.square {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 8px;
}

.square:hover {
    background-color: lightgray;
}